<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Spotify Manager</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <section>
        <h1>Anton's Spotify Manager</h1>
        {% for playlist in playlists %}
            <div class="playlist">
                <h2>{{ playlist.playlist_name }}</h2>
            </div>
        {% endfor %}
    </section>

    <!--script src="/static/app.js"></script-->
</body>
</html>